body{
    height: 100vh;
    overflow: hidden;
}
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    overflow: hidden;
    
    
    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top:0;
        left:0;
     
        background: linear-gradient(115deg, rgba(0,0,0,0.6082808123249299) 41%, rgba(130, 57, 57, 0.572) 58%);

    }
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    animation: anim .7s ease;
    transition: all .3s ease-in-out;

}   
input{
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
}
.button{
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 30px;
    transition: all .3s ease-in-out;
    align-self: center;
    cursor: pointer;
    &:hover{
        background: white;
        color:black;
    }
}
h1{
    text-shadow: 1px 1px 1px black;
    font-weight: 400;
    margin-top: 0;
}

//animation

@keyframes anim {
	0% {
		transform: translateY(-100px);
        opacity: 0;
	}
    100% {
		transform: translateY(0);
	}
}

//profile

.profile{
    width: 20%;
    min-width: 300px;
    background: rgba(0, 0, 0, 0.298);
    border-radius: 5px;
    position: absolute;
    transform: translate(500%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;

    
    .textprofile{
        font-size: 23px;
        margin-bottom: 30px;
    }
   

}
.profile.pop{
    transform: translateX(0%);
    transition: all .3s ease-in-out ;
   
}
.form.pop{
    transform: translate(-300%, 0px);
    transition: all .3s ease-in-out ;
    // opacity: 0;
}

.round{
    
    
    margin:0 auto;
    
    transform: translatey(-80px);
    img{
        width: 100%;
        border-radius: 50%;
        height:130px;
        width:130px;
        object-fit: cover;
        border: 5px solid rgba(0, 0, 0, 0.58);
      
    }
}
.settingsicon{
    position: absolute;
    top:1em;
    right:1em;
    cursor: pointer;

}